/* ------------------------- */
/* CAJA CONTACTO */
/* ------------------------- */

.caja-contacto {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    .caja-contacto-sub {
        width: 80%;
        margin: 40px auto;
        h2 {
            text-transform: uppercase;
            font-size: 40px;
            font-weight: 300;
            text-align: center;
        }
        .formulario-contacto {
            width: 50%;
            margin: 40px auto;
            padding: 30px;
            .caja-uno {
                display: flex;
                justify-content: space-around;
                input[type="text"],
                input[type="text"] {
                    border: 1px solid #CCD1D1;
                    background: none;
                    padding: 20px;
                    width: 48%;
                    color: #2C3E50;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                }
            }
            .caja-dos {
                text-align: center;
                textarea {
                    background: none;
                    color: #2C3E50;
                    padding: 20px;
                    width: 100%;
                    max-width: 100%;
                    margin: 20px auto;
                    height: 200px;
                    max-height: 300px;
                    border: 1px solid #CCD1D1;
                    &:focus {
                        outline: none;
                    }
                }
                input[type="submit"] {
                    background: #DC7633;
                    padding: 15px 20px;
                    border: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 2px;
                    
                }
            }
        }
        .borde {
            width: 80%;
            margin: 0 auto;
        }
        .caja-ubicacion {
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 40px auto;
            .titulo {
                font-size: 20px;
                font-weight: 300;
            }
            .caja-informacion {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                .caja-informacion-basica {
                    ul {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        li {
                            list-style: none;
                            letter-spacing: 1px;
                            > i {
                                margin-left: 20px;
                                color: #DC7633;
                            }
                        }
                    }
                }
                .mapa {
                    width: 100%;
                    margin: 20px auto;
                    iframe {
                        width: 1200px;
                        height: 400px;
                        border: none;
                    }
                }
            }
        }
    }
} 


/* ------------------------- */
/* MEDIA QUERIES CONTACTO */
/* ------------------------- */
@media screen and (max-width: 1370px) {
    .caja-contacto {
        .caja-contacto-sub {
            width: 100%;
            .caja-ubicacion {
                .caja-informacion {
                    .mapa {
                        iframe {
                            width: 1030px;
                        }
                    }
                }
            }
        }
    }
}