/* ------------------------- */
/* ESTILOS ERROR */
/* ------------------------- */

.caja-error {
    background: #2d353e;
    h2 {
        color: seashell;
        text-align: center;
        padding: 20%;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
}